<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plasmafinder">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlasmaFinder">
        <activity android:name=".Add.AddDonorActivity" android:parentActivityName=".Home.MainActivity"/>
        <activity android:name=".Add.AddRequestActivity" android:parentActivityName=".Home.MainActivity"/>
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Login.RegisterActivity" />
        <activity android:name=".Home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>